body {
  background-color: #1e2326;
  color: #d3c6aa;
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  padding: 1.25rem;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  font-size: 10rem;
  text-align: center;
}

.container {
  margin: auto;
  width: 100%;
  max-width: 50rem;
  min-width: 20rem;
  padding: 1.25rem;
}

.tabs {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 0.625rem;
  padding: 0.625rem;
  flex-wrap: wrap;
}

.todo-list {
  margin: 0;
  padding: 0.625rem;
  border: 1px solid #d3c6aa;
  border-radius: 5px;
}

.tasks {
  align-items: center;
  display: flex;
  padding: 0.625rem;
  justify-content: space-between;
  font-size: 1.25rem;
}

.cancel-btn,
.save-btn,
.edit-btn,
.delete-btn {
  background-color: #3c4841;
  color: #d3c6aa;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  cursor: pointer;
}

.nav-button {
  width: 100%;
  max-width: 15rem;
  background-color: #4f5b58;
  color: #d3c6aa;
  font-family: "Poppins", sans-serif;
}

.nav-button.active {
  background-color: #3c4841;
  color: #d3c6aa;
  border: 2px solid #a7c080;
}

.form {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  flex-wrap: wrap;
}

.input-container {
  display: flex;
  align-items: center;
  border: 2px solid #d3c6aa;
  border-radius: 0.5rem;
  overflow: hidden;
  width: 100%;
  max-width: 28rem;
}

.input-box {
  flex: 1;
  padding: 0.625rem;
  border: none;
  background-color: #d3c6aa;
}

.add-btn {
  background-color: #3c4841;
  color: white;
  border: none;
  padding: 0.625rem;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
}

.add-btn:focus {
  outline: none;
}

.edit-todo-box {
  border: none;
  background-color: #1e2326;
  color: #d3c6aa;
}

.tasks h4 {
  margin: 0px;
}

@media (max-width: 48rem) {
  .header {
    font-size: 3.75rem;
  }

  .container {
    padding: 0.625rem;
  }

  .input-box {
    width: 100%;
  }

  .tasks {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .header {
    font-size: 3rem;
  }

  .container {
    width: 100%;
    max-width: 10rem;
    padding: 0.625rem;
  }

  .todo-list {
    padding: 0.625rem;
    border: 1px solid #d3c6aa;
  }

  .tabs {
    flex-wrap: nowrap;
    justify-content: center;
  }

  .tasks {
    flex-direction: row;
  }

  .input-box {
    width: 100%;
  }

  .nav-button {
    width: 100%;
  }
}
