body {
  background-color: #1e2326;
  color: #d3c6aa;
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}
.header {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  font-size: 100px;
}
.container {
  min-width: 500px;
  max-width: 800px;
}
.tabs {
  list-style-type: none;
  display: flex;
  padding: 20px;
}
.todo-list {
  margin: 0;
  padding: 0;
  border: 1px solid #d3c6aa;
  padding-left: 12px;
}
.tasks {
  align-items: center;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  font-size: 20px;
}
.cancel-btn,
.save-btn,
.edit-btn,
.delete-btn {
  background-color: #3c4841;
  color: #d3c6aa;
  width: 40px;
  height: 30px;
  border: none;
}
.nav-button {
  width: 250px;
  background-color: #4f5b58;
  color: #d3c6aa;
  font-family: "Poppins", sans-serif;
}
.nav-button.active {
  background-color: #3c4841;
  color: #d3c6aa;
  border: 2px solid #a7c080;
}

.form {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}
.input-container {
  display: flex;
  align-items: center;
  border: 2px solid #d3c6aa;
  border-radius: 8px;
  overflow: hidden;
}
.input-box {
  border-radius: 8px 0 0 8px;
  padding: 10px;
  width: 420px;
  border: none;
  background-color: #d3c6aa;
}
.add-btn {
  background-color: #3c4841;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 0 8px 8px 0;
}
.add-btn:focus {
  background-color: #3c4841;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 0 8px 8px 0;
}
.edit-todo-box {
  border: none;
  background-color: #1e2326;
  color: #d3c6aa;
}
.tasks h4 {
  margin: 0px;
}
